.dislaymoniter_info{
    width: 100%;
    display:flex;
   background-color: rgb(231, 226, 226);
justify-content: space-between;
align-items: center;
cursor: pointer;
    margin-bottom: 8px;
    padding: 3px;
}
.dislaymoniter_info:hover{
  background-color: whitesmoke;
  
}
.displaymoniter_info_right{
    display:flex;
    justify-content: center;
align-items: center;
}
.dislaymoniter_info >h4{
    margin-right: 5px;
}